* {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(25, 18, 32);
}
tr {
  border-bottom: solid 1px gray;
}
.view-icon {
  color: rgb(58, 77, 58);
  cursor: pointer;
}
.edit-icon {
  color: rgb(103, 103, 250);
  cursor: pointer;
}
.delete-icon {
  color: rgb(250, 68, 68);
  cursor: pointer;
}
